@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@import "@skeletonlabs/skeleton/themes/cerberus";
@import "@skeletonlabs/skeleton/themes/mint";
@import "@skeletonlabs/skeleton/themes/pine";
@import "@skeletonlabs/skeleton/themes/rocket";
@import "@skeletonlabs/skeleton/themes/crimson";
@import "@skeletonlabs/skeleton/themes/fennec";
@import "@skeletonlabs/skeleton/themes/vintage";
@import "@skeletonlabs/skeleton/themes/legacy";
@import "@skeletonlabs/skeleton/themes/nosh";
@import "@skeletonlabs/skeleton/themes/terminus";
@import "@skeletonlabs/skeleton/themes/catppuccin";
@import "@skeletonlabs/skeleton/themes/wintry";
@import "@skeletonlabs/skeleton/themes/reign";

@source "../node_modules/@skeletonlabs/skeleton-svelte/dist";
/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/

html,
body {
  @apply h-full;
}

#mainheading {
  @apply mt-2 mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-6xl
}

#minorheading {
  @apply mt-8 mb-4 font-extrabold text-gray-900 dark:text-white md:text-3xl lg:text-4xl
}

/* ChatBot styles */
.chat-toggle {
  position: fixed;
  display: flex;
  z-index: 10000; /* Ensure it appears above the chat window */
  right: 0;
  bottom: 800px; /* Default position when the chat is visible */
  /* padding: 3.5rem 2rem; Increase padding for a larger button */
  font-size: 1.25rem; /* Increase font size */
}

.chat-toggle.hidden {
  right: fixed; /* Reset right alignment */
  right: 0; /* Move to the left lower corner */
  /* lift the button up slightly */
  bottom: 3.5rem; /* Position at the bottom of the screen */
}

/* [data-theme='cerberus'] body {
  background-image:
    radial-gradient(at 24% 25%, color-mix(in oklab, var(--color-primary-500) 30%, transparent) 0px, transparent 30%),
    radial-gradient(at 35% 13%, color-mix(in oklab, var(--color-success-500) 18%, transparent) 0px, transparent 30%),
    radial-gradient(at 100% 64%, color-mix(in oklab, var(--color-error-500) 3%, transparent) 0px, transparent 40%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
